body
{
	background-color: #000000;
}

.black-border{
	border: 1px solid rgb(0, 0, 0);
}

.navbar-custom {
	color: #FFFFFF;
	background-color: #004304;
	border-color: #000000;
}

/*Changes the selected navbar colors*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	color: #FFFFFF;
	background-color: #003303
}

/*Changes the mouseover text color of the navbar*/
navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #777
}

/*Changes the text color of the navbar*/
navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a{
	color: #FFFFFF
}	

.fixedMargins {
	padding-top: 15px;
}

.well {
	background: #003303;
	color: #FFFFFF;
}

.backgroundColor{
	background-color:#004304;
]